<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<title>dreamProject | {{title}}</title>
{{>styles}}
</head>
<body>
<div class="login-form">
    <form action="/auth/signup" method="post">
        <h2 class="text-center">Sign up</h2>		
        <div class="text-center social-btn">
            <a href="/auth/facebook" class="btn btn-primary btn-block"><i class="fab fa-facebook"></i> Sign up with <b>Facebook</b></a>
			<a href="/auth/google" class="btn btn-danger btn-block"><i class="fab fa-google"></i> Sign up with <b>Google</b></a>
        </div>
		<div class="or-seperator"><i>or</i></div>

        {{#each errors}}
            <div class="alert alert-danger">{{msg}}</div>
        {{/each}}

        {{!-- form-group --}}
        <div class="form-group">
        	<div class="input-group">                
                <div class="input-group-prepend">
                    <span class="input-group-text">
                        <span class="fas fa-user"></span>
                    </span>                    
                </div>
                <input type="text" class="form-control" name="fullName" placeholder="Full Name" value="{{fullName}}">
            </div>
        </div>
        {{!-- /form-group --}}

        {{!-- form-group --}}
        <div class="form-group">
        	<div class="input-group">                
                <div class="input-group-prepend">
                    <span class="input-group-text">
                        <span class="fas fa-envelope"></span>
                    </span>                    
                </div>
                <input type="text" class="form-control" name="email" placeholder="Email" value="{{email}}">
            </div>
        </div>
        {{!-- /form-group --}}

        {{!-- form-group --}}
        <div class="form-group">
        	<div class="input-group">                
                <div class="input-group-prepend">
                    <span class="input-group-text">
                        <i class="fas fa-lock"></i>
                    </span>                    
                </div>
                <input type="password" class="form-control" name="password" placeholder="Password">
            </div>
        </div>
        {{!-- /form-group --}}

        {{!-- form-group --}}
		<div class="form-group">
            <div class="input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text">
                        <i class="fas fa-lock"></i>
                    </span>                    
                </div>
                <input type="password" class="form-control" name="confirmPassword" placeholder="Confirm Password">
            </div>
        </div>        
        {{!-- /form-group --}}

        {{!-- form-group --}}
        <div class="form-group">
            <button type="submit" class="btn btn-success btn-block login-btn">Sign up</button>
        </div>
        {{!-- /form-group --}}
        <div class="clearfix"></div>  
    </form>
    <div class="hint-text">have an account? <a href="/auth/login" class="text-success">Login</a></div>
</div>
{{>scripts}}
</body>
</html>